*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

body{
width: 80%;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
}

.container, .images{
    margin: auto;
}

h1, p , a {
    text-align: center;
    display: block; 
}

p, a{
font-size: larger;
}

ul, ol{
    font-weight: bold;
}